.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/Atlantis_Runs/
/Run_Code/
/Setup_Files/
/Figures/
/currentVersion/archive/

#files
*.html

# restricted files
comland*.rds

# folders
researchDocs
other
output
.svn
atlantis
outputFolder

# ignore all files in testing except prm
/currentVersion/*
!/currentVersion/at_biology.prm
!/currentVersion/at_economics.prm
!/currentVersion/at_force_LINUX.prm
!/currentVersion/at_force_WIN.prm
!/currentVersion/at_harvest.prm
!/currentVersion/at_physics.prm
!/currentVersion/at_run.prm
# except nc
!/currentVersion/neus_init.nc
!/currentVersion/neus_init_nofill.nc
!/currentVersion/neus_init.cdf
# except csv
!/currentVersion/neus_fisheries.csv
!/currentVersion/neus_groups.csv
# except bgm
!/currentVersion/neus_tmerc_RM2.bgm
# except rmd
!/currentVersion/*.Rmd
# except altlantis
!/currentVersion/*.exe
!/currentVersion/run_command.txt
# shell script to run
!/currentVersion/RunAtlantis.sh
!/currentVersion/RunAtlantis_cloud.sh
!/currentVersion/sbatch_scenario_array_base.sh
!/currentVersion/vertebrate_init_length_cm_Adjusted.csv

# catch files
currentVersion/CatchFiles/**/*
!/currentVersion/CatchFiles/total_catch.ts
!/currentVersion/CatchFiles/total_catch_project_mean_20yrs.ts
!/currentVersion/CatchFiles/Catch_Forcing_New_Spinup.pdf
!/currentVersion/CatchFiles/Catch_Forcing_Raw.pdf
!/currentVersion/old/*


R/desktop.ini
diagnostics/Obs_Hindcast_Group_Progress.xlsx
#diagnostics/*.xlsx

*.out

#data files
data/fishing_sensitivity_extended_constant_2/*

