.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

#files
*.html

# restricted files
comland*.rds

# folders
researchDocs
other
output

# ignore all files in testing except prm
/testing/*.*
!/testing/at_biology_test.prm
!/testing/at_economics_test.prm
!/testing/at_force_LINUX_test.prm
!/testing/at_force_WIN_test.prm
!/testing/at_harvest_test.prm
!/testing/at_physics_test.prm
!/testing/at_run_test.prm
# except nc
!/testing/neus_init_test_nc
# except csv
!/testing/neus_fisheries_test.csv
!/testing/neus_groups_test.csv
# except bgm
!/testing/neus_boxes_test.bgm
# except rmd
!/testing/*.Rmd
# except altlantis
!/testing/*.exe
!/testing/run_command_test.txt

Geometry/NEUS 1-5 Map.R
Geometry/Neus 1-5.pdf
Geometry/Neus Faces.pdf
R/desktop.ini
R/generate_annual_forcing.R
R/generate_forcing_paths.R
R/Post_Hydroconstruct_Diagnostics.R
R/ROMS_Diagnostics.R
testing/at_force_WIN_test.prm
testing/tsfiles/roms_cobalt_flows_03242020_1980_1989.nc
testing/tsfiles/roms_cobalt_flows_03242020_1980_1989.nc
