.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
/Atlantis_Runs/
/Run_Code/
/Setup_Files/
/Figures/
/currentVersion/archive/

#files
*.html

# restricted files
comland*.rds

# folders
researchDocs
other
output
.svn
atlantis
outputFolder

# ignore all files in testing except prm
/currentVersion/*.*
!/currentVersion/at_biology.prm
!/currentVersion/at_economics.prm
!/currentVersion/at_force_LINUX.prm
!/currentVersion/at_force_WIN.prm
!/currentVersion/at_harvest.prm
!/currentVersion/at_physics.prm
!/currentVersion/at_run.prm
# except nc
!/currentVersion/neus_init_nc
# except csv
!/currentVersion/neus_fisheries.csv
!/currentVersion/neus_groups.csv
# except bgm
!/currentVersion/neus_boxes.bgm
# except rmd
!/currentVersion/*.Rmd
# except altlantis
!/currentVersion/*.exe
!/currentVersion/run_command.txt
# shell script to run
!/currentVersion/RunAtlantis.sh
!/currentVersion/vertebrate_init_length_cm_Adjusted.csv
/currentVersion/CatchFiles/fishing_sensitivity_scenarios/*


#Geometry/NEUS 1-5 Map.R
#Geometry/Neus 1-5.pdf
#Geometry/Neus Faces.pdf
R/desktop.ini
#R/generate_annual_forcing.R
#R/generate_forcing_paths.R
#R/Post_Hydroconstruct_Diagnostics.R
#R/ROMS_Diagnostics.R
#testing/at_force_WIN_test.prm
testing/tsfiles/roms_cobalt_flows_03242020_1980_1989.nc
testing/tsfiles/roms_cobalt_flows_03242020_1980_1989.nc
diagnostics/Obs_Hindcast_Group_Progress.xlsx
data/fishing_sensitivity_extended_constant_2/*
#diagnostics/*.xlsx

data/fishing_sensitivity_extended_constant_2/*
currentVersion/CatchFiles/fishing_sensitivity_extgended_constant_3/*
currentVersion/fishing_sensitivity_extgended_constant_3/*
nohup.out